<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aka.memo.repository.MemosMapper">
    <select id="findAll" resultType="aka.memo.repository.entity.MemoEntity">
        select
          mst_group.group_name,
          trn_thread.thread_title,
          mst_user.user_name,
          mst_user.image_path,
          trn_memo.memo_body,
          trn_memo.update_datetime
        from trn_memo
          inner join (
              select thread_id, max(update_datetime) as latest 
              from trn_memo group by thread_id)as t2
            on trn_memo.thread_id = t2.thread_id
          left join trn_thread
            on trn_memo.thread_id = trn_thread.thread_id
          left join mst_group
            on trn_thread.group_id = mst_group.group_id
          left join mst_user
            on trn_memo.user_id = mst_user.user_id
        where trn_memo.update_datetime = t2.latest
        order by mst_group.group_name asc, trn_memo.update_datetime desc
    </select>

    <select id="findByCond" resultType="aka.memo.repository.entity.MemoEntity">
        select
          mst_group.group_id,
          mst_group.group_name,
          trn_thread.thread_id,
          trn_thread.thread_title,
          mst_user.user_id,
          mst_user.user_name,
          mst_user.image_path,
          trn_memo.memo_id,
          trn_memo.memo_body,
          trn_memo.update_datetime
        from trn_memo
          <if test="threadId == null">
          inner join (
              select thread_id, max(update_datetime) as latest 
              from trn_memo group by thread_id)as t2
            on trn_memo.thread_id = t2.thread_id
          </if>
          left join trn_thread
            on trn_memo.thread_id = trn_thread.thread_id
          left join mst_group
            on trn_thread.group_id = mst_group.group_id
          left join mst_user
            on trn_memo.user_id = mst_user.user_id
        where
          <if test="threadId == null">
          trn_memo.update_datetime = t2.latest
          </if>
          <if test="threadId != null">
          trn_memo.thread_id = #{threadId}
          </if>
          <if test="userId != null">
          and trn_memo.user_id = #{userId}
          </if>
        order by mst_group.group_name asc, trn_memo.update_datetime desc
    </select>
</mapper>
